@import url(../css/reset.css);
@import url(../css/fonts.css);
$font-family-1: "golos";
$font-family-2: "BankGothic RUSS";
$shadow-menu-hidden: #d8abd8;

html {
  scroll-behavior: smooth;
}


body {
  font-weight: 400;
  color: #0a0a0a;
  font-size: 14px;
  background: url(../image/body-img/body-bg.jpg) no-repeat center/cover;
  position: relative;
}

// Меню

.container {
  padding: 0px 10px 0 56px;
}

.header {
  position: relative;
  margin: 0px auto 0px auto;
}

.header__menu {
  width: 1300px;
  position: absolute;
  top: 43px;
  left: 50%;
  transform: translateX(-50%)
}

.header__menu-list {
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 36px;
  font-family: "BankGothic RUSS";
  text-transform: uppercase;
  font-size: 30.8px;
  margin: 0 auto;
  transition: display 5s ease;
}

.header__list-item {
  padding: 0 71px;
}



.header__list-item+.header__list-item {
  border-left: 1px solid #000;
}

// Выпадающее меню

.hidden-menu-list {
  width: 381px;
  display: none;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 5px 5px 100px $shadow-menu-hidden;
  text-align: center;
  padding: 29px 33px 37px 33px;
  position: absolute;
  top: 19px;
  left: 224px;
  transition: all 1.5s ease;
}

.header__list-item:hover .hidden-menu-list {
  display:initial;
}

.hidden-menu-title {
  width: 324px;
  max-width: 100%;
  font-size: 30.8px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.hidden-menu-item {
  font-weight: 'BankGothic RUSS' sans-serif;
  font-size: 29px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 0;
}

// .hidden-menu-title a+a {
//   border-bottom: 1px solid black;
// }

// .hidden-menu-item:last-child{
//   padding-bottom: 0;
// }


// Секция  1 с ссылками

.main {
  margin: 0px auto 0px auto;
}

.main__section-1 {
  width: 1903px;
  max-width: 100%;
  padding: 0 10px;
}

.section-1__title {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 57px;
  font-family: $font-family-2;
}

.secton-1__app {
  display: flex;
  justify-content: space-between;
  column-gap: 31px;
  flex-wrap: wrap;
  margin-bottom: 47px;
}

.secton-1__item {
  width: 442px;
  height: 319px;
  max-width: 100%;
  text-align: center;
  padding-top: 32px;
  font-size: 19.8px;
  border: 1px solid grey;
}


// Секция 2

.main__section-2 {
  width: 1785px;
  max-width: 100%;
  padding: 0 10px;
}

.video,
.video-img {
  position: relative;
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.logo {
  max-width: 213px;
  max-height: 87px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.header--margin {
  margin: 0 auto;
}

.plashka-top {
  width: 100%;
}

// Footer

.footer {
  position: relative;
}

.footer__menu {
  max-width: 1190px;
  margin: 0px auto 0px auto;
}

.footer__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  font-family: "BankGothic RUSS";
  text-transform: uppercase;
  font-size: 30.8px;
  position: absolute;
  bottom: 47px;
}

.plashka-bottom {
  transform: rotate(180deg)
}
